# ---------------------------------
# Python
# ---------------------------------

__pycache__/
*.py[cod]
*$py.class

# ---------------------------------
# Virtual Environment
# ---------------------------------

venv/
.venv/
env/

# ---------------------------------
# Django
# ---------------------------------

db.sqlite3
db.sqlite3-journal

# ---------------------------------
# Environment Variables
# ---------------------------------

.env

# ---------------------------------
# Logs
# ---------------------------------

logs/*.log
*.log

# ---------------------------------
# Static Files
# ---------------------------------

staticfiles/

# ---------------------------------
# Media Uploads
# ---------------------------------

media/

# ---------------------------------
# VS Code
# ---------------------------------

.vscode/

# ---------------------------------
# OS Files
# ---------------------------------

.DS_Store
Thumbs.db

# ---------------------------------
# Testing
# ---------------------------------

.coverage
htmlcov/
.pytest_cache/

# ---------------------------------
# Migrations Cache
# ---------------------------------

*.pyc

# ---------------------------------
# Build Files
# ---------------------------------

build/
dist/
*.egg-info/

# ---------------------------------
# IDE
# ---------------------------------

.idea/